#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export QT_SELECT=qt5

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	dh_auto_configure -- BINDIR=${DESTDIR}${PREFIX}/bin \
						 LIBDIR=${DESTDIR}${PREFIX}/lib \
						 VERSION=$(DEB_VERSION_UPSTREAM) \
						 BUILD_NUMBER=0 \
						 DaggyProject.pro
